html,
body {
    height: 100vh;
}
.wrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    border: 2px black;
}

.content {
    flex: 1;
}

.search-result ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

.search-result ul li a{
    text-decoration: none;
}

.pagination li {
    display:inline-block;
    padding:25px;
  }

.footer {
        margin-top: 300px;
        color: black;
    }